*{
    margin: 0;
    padding: 0;
}

.navbar-brand{
    margin-left: 20%;
  
    font-size:30px ;
}

.d-flex{
  margin-right: 10%;
width: 50%;
padding-right: 10px;
}
.navbar-brand1{
    text-decoration: none;
    color: white !important;
    padding-right: 25px;
   
  
    
}






 /* <!-- category-section --> */


 .container{
    display: flex;
   background-color: aqua;
    width: 100%;
    height: auto;
    text-align: center;
   opacity:0;
  
}
.col{
    
    cursor: pointer;
    color: white;
}

.col img{
    width: 54px;
    height: 54px;
    
}
.col h5:hover{
   color: #2874f0;
}

h5{
    color: black;
}

.card-img-top{
    width: 130px;
    max-height: 200px;
    min-height: 190px;
    overflow: hidden;
    
}
.card {
    position:  initial;
    display: block;
    flex-direction: column;
   width:350px ;
   height: 350px;
    word-wrap: break-word;
    text-align: center;
         border:none ;
     border-radius: none;
   
   
}
.card-img-top:hover{
    transform: scale(0.9);
}



 h3,h4,h6{
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}
.containerfot{
    margin-left: 10px;
}
.card-text {
   overflow: hidden;
   color: green;
}
.p-3 img:hover{
    transform: scale(0.9);
}
.pro{
   margin-top: 120px;
}
.footersec{
    margin-top: 120px;
}
    

